.container--alerta{
    padding: 0 10rem;
    color: var(--branco);
}

.container--alerta-titulo{
    display: flex;
    justify-content: space-between;
}

.h2--alerta{
    font-size: 24px;
    margin-bottom: 3rem;
}

.h3--alerta{
    font-weight: 300;
}

.container--alerta-items{
    display: flex;
    justify-content: space-between;
}

.link--alerta{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    font-size: 18px;
    padding: .5rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
}

.link--alerta:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: var(--branco);
    background-color: var(--preto);
}