.container--mudanca{
    padding: 0 10rem;
    color: var(--branco);
}

.container--mudanca-titulo{
    display: flex;
    justify-content: space-between;
}

.h2--mudanca-titulo{
    font-size: 24px;
    margin-bottom: 3rem;
}

.h3--mudanca{
    font-weight: 300;
}

.container--mudanca-items{
    display: flex;
    justify-content: space-between;
}

.link--mudanca{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    font-size: 18px;
    padding: .5rem;
    height: 3rem;
    border-radius: 5px;
}

.container--mudanca{
    padding: 0 10rem;
    color: var(--branco);
}

.container--mudanca-titulo{
    display: flex;
    justify-content: space-between;
}

.h2--mudanca-titulo{
    font-size: 24px;
    margin-bottom: 3rem;
}

.h3--mudanca{
    font-weight: 300;
}

.container--mudanca-items{
    display: flex;
    justify-content: space-between;
}

.link--mudanca{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    font-size: 18px;
    padding: .5rem;
    height: 3rem;
    border-radius: 5px;
}

