.container--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vermelho-escuro);
    width: 100vw;
    height: 10vh;
}

.img--header{
    width: 10vw;
}

.nav--header{
    display: flex;
    justify-content: space-between;
}

.link--header{
    padding: 0 2vw;
    font-size: 18px;
    color: var(--branco);
}