.container--banner{
    height: 80vh;
    background-image: url('/img/banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5rem 5rem;
}

.h1--banner{
    text-align: center;
    width: 50%;
    color: var(--branco);
    font-size: 42px;
    margin-bottom: 40px;
}

.a--banner {
    display: flex;
    align-items: center;
    background-color: var(--marrom);
    font-size: 26px;
    color: var(--branco);
    padding: 1rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.a--banner:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}